.header {
    background-color: #9BCE0B;
    margin-bottom: 10px;
}

.navigation {
    background-color: #9BCE0B;
}

.article {
    background-color: #9BCE0B;
}

.ads {
    background-color: #9BCE0B;
}

footer {
    background-color: #9BCE0B;
}


/*  -- naudingos -- */

.no-padding {
    padding: 0;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}
