.navigation, .wrapper {
  min-height: 400px;
}
.navigation {
  background-color: #D5E8D4;
}
h1 {
  color: red;
}
header, .footer {
  background-color: #9BCE0B;
}
.content {
  background-color: #F4F4F4;
}

/*  -- naudingos -- */
.no-padding {
  padding: 0;
}
.p-15 {   padding: 15px; }
.p-20 {   padding: 20px; }
.m-15 {   margin: 15px; }
.m-20 {   margin: 20px; }
