.photo {
  text-align: center;
  padding: 5px;
}

.imgSize1 {
  width: 130px;
  height: 130px;
}

.imgSize2 {
  width: 200px;
  height: 200px;
}

.imgSize3 {
  width: 50px;
  height: 50px;
}

.imgSize4 {
  width: 200px;
  height: 200px;
}

.padding30 {
  padding: 30px;
}

.paddingB {
  padding-bottom: 10px;
}

.centruoti {
  text-align: center;
}

.antraste1 {
  text-align: center;
  color: blue;
  font-size: 30px;
}

.antraste2 {
  text-align: center;
  color: red;
  font-size: 30px;
  padding-bottom: 30px;
}

.footergl {
  padding-top: 30px;
  min-height: 260px;
  background-color: #333;
}

.meniuNoBorder {
  border: none;
  font-size: 20px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);

}

.reklama {
  background-color: green;
  margin: 0;
  width: 100%;
}

.maxPlotis {
  max-width: 40%;
}

.maxPlotis2 {
  min-width: 80%;
}
.textColorWhite {
  color: #D3D3D3;
}
/* IDEA: tado css  zemiau----------------------------*/
.ulMeniu {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
  }
.ulMeniu li {
    float: left;
}

.ulMeniu li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;
}
.meniuPic1 {
  max-width: 100px;
  max-height: 100px;
  padding-top: 30px;
}
.meniuPic2 {
  max-width: 120px;
  max-height: 120px;
  padding-top: 0;

}
#nav .row {
background-color: #333;
}
.padding0 {
  padding: 0;
}
.ulContainerContent {
  list-style-type: none;
  margin: 10;
  padding: 50;
  overflow: hidden;
}
.ulContainerContent li {
float:right;
}
.ulContainerContent li a {
  display: block;
  color: white;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;
}
.background-img {
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://9to5mac.files.wordpress.com/2013/06/mail.png);
}
