* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
h1 {
  text-align: center;
  margin: 40px 0;
  font-family: 'Merriweather', george serif;
}
h2 {
  margin: 0;
}

article {
  position: relative;
  width: 31%;
  float: left;
  border: solid 1px #000;
  box-sizing: border-box;
  padding: 30px 10px 10px 10px ;
  background-color: rgb(224, 224, 224);
}
.center-article {
  margin: 0 2%;
}
/* butinas naudojant Float */
.clear-float {
  clear: both;
}
.pav-1, .pav-2, .pav-3  {
  width: 90px;
  position: absolute;
  top: 0px;
  right: 0;
  text-align: center;
}
.pav-1 {
  background-color: red;
}
.pav-2 {
  background-color: orange;
}
.pav-3 {
  background-color: rgb(203, 222, 51);
}
@media (max-width: 992px) {
  #last-article {
    margin-top: 50px;
    width: 96%;

    margin-left: 2%;
    margin-right: 2%;
  }
  body {
    width: 100%;
  }
  #first-article, .center-article {
    width: 46%;
    margin: 0 2%;
  }
}
@media (max-width: 375px) {
  #first-article, .center-article, #last-article  {
    width: 94%;
    margin: 2% 3%;
  }
}
