body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
}

h2 {
  margin-bottom: 40px;
  font-size: 40px;
  z-index: 1;
}

a, a:hover, a:focus {
  color: #8CB6C0;
}

#myCarousel .fp-tableCell {
  display: table-row-group;
}

.carousel-indicators {
  bottom: 0;
  margin-bottom: 5px;
}

.carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
  margin: auto;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.33);
}

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 0;
    margin-bottom: 5px;
  }
  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.fp-section .contentHolder {
  margin-top: 120px;
  margin-bottom: 70px;
}

#psl-1 {
  background: url("../img/img2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#psl-2 {
  background: url("../img/img3.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#psl-3 {
  background: url("../img/img6.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#psl-4 {
  background: url("../img/img5.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.open-contacts-form {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 5rem;
  padding-top: 1rem;
  border-radius: 0;
  font-size: 18px;
}

.open-contacts-form:hover, .open-contacts-form:focus, .open-contacts-form:active {
  background-color: #8CB6C0;
  color: white;
}

.open-contacts-form:active:focus {
  background-color: #8CB6C0;
  color: white;
}

.minHeight12 {
  min-height: 12rem;
}

.formCss {
  padding: 5px 10px;
  margin-bottom: 5px;
  width: 80%;
}

input::placeholder, textarea::placeholder {
  color: #D8D0C5;
}

.success {
  color: green;
  background: rgba(0, 255, 0, 0.1);
  margin-bottom: 10px;
  border: 1px solid green;
  padding: 5px 10px;
  border-radius: 5px;
  width: 80%;
}

.error {
  color: red;
  background: rgba(255, 0, 0, 0.1);
  margin-bottom: 10px;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 5px;
  width: 80%;
}

.line1 {
  width: 40%;
  padding-bottom: 10px;
  border-top: solid rgba(241, 241, 241, 0.5);
}

.titleh1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: rgba(245, 245, 245, 0.8)
}

.scroll-down-arrow {
  height: 30px;
  width: 30px;
}

.navbar {
  background: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1rem 0;
}

.navbar ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 20px 3rem;
  line-height: 30px;
}

.navbar ul li {
  float: left;
  padding-left: 6rem;
}

.navbar a {
  color: #FFF;
  text-decoration: none;
}

.navbar a:hover, .navbar a:focus {
  color: #8CB6C0;
  text-decoration: none;
}

.meniubtn {
  background: none;
  font-size: 30px;
  border: none;
  float: right;
  margin: 8px 0;
}

.meniubtn:hover {
  color: #8CB6C0;
  background-color: rgba(140, 182, 192, 0.3);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

footer {
  position: relative;
  margin: 0 35px 20px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 768px) {
  footer {
    position: fixed;
    bottom: 5px;
    right: 0;
    left: 0;
    color: #FFF;
    background: none;
    margin: 0;
    padding: 0;
  }
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #FFF;
}

.nextPageHolder {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.nextPageHolder a {
  color: #FFF;
  text-decoration: none;
}

.nextPageHolder a:hover {
  color: #8CB6C0;
  text-decoration: none;
}

.content {
  padding-top: 90px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  width: 100%;
}

.noMarginLR {
  margin-left: 0;
  margin-right: 0;
}

.NoBorderRadius {
  border-radius: 0;
}

.rotate90 {
  transform: rotate(-90deg);
  transform-origin: right bottom;
  color: #FFF;
  font-size: 32px;
  float: right;
  padding-right: 24px;
}

.contentLeft {
  background-color: rgba(109, 125, 153, 0.3);
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  position: fixed;
  top: 90.4px;
}

.contentHolder {
  background: rgba(255, 255, 255, 0.75);
  color: #444;
  border-radius: 5px;
  padding: 2rem 4rem 4rem;
  margin: 4rem 2rem;
}

.textBottom {
  position: relative;
  bottom: 0;
}

.paddingBottom {
  padding-bottom: 1rem;
}


/* IDEA: menu btn */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: #8CB6C0;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
