

header {
  background-color: #9BCE0B;
}
.Nav-bar {
  background-color: #0E0E0E;
  min-height: 400px;
}
.Article {
  background-color: #FEFFFC;
  min-height: 400px;
}
.Aside {
  background-color: #FEFFFC;
min-height: 400px;
}
