#header {
  /* background-color: red;

  */
}

.prisitaikantis.aa {
  background-color: red;
}
.blue {
  background-color: blue;
}
.kk {
    /*background-color: #888!important;*/
}
* {
  font-size: 10px;
}
