body {
  font-family: george, verdana, sans-serif;
}

header {
  background-color: #9BCE09;
  min-height: 100px;
}
.p-20 {
  padding-left: 20px;
  padding-top: 20px;
}
.sonai {
  background-color: #F7F5AA;
  min-height: 400px;
}
footer {
  background-color: #AABBCC;
  min-height: 100px;
}
