h1 {
  font-size: 50px;
  font-family: 'Shrikhand', cursive;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 30px #000000;
}

h2 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}

h3 {
  font-family: 'Shrikhand', cursive;
}

body {
  background-color: grey;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 50px;
  background-color: rgb(213, 101, 238);
  margin-bottom: 10px;
}

#navigation ul li {
  display: inline-block;
  width: 22%;
  line-height: 48px;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  width: 190px;
}

#navigation {
  width: 69%;
  display: inline-block;
}

#navigation ul {
  width: 75%;
  display: inline-block;
}

#navigation ul a {
  text-decoration: none;
  color: #000;
}

#search {
  width: 30%;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

#search button {
  background-color: black;
  color: white;
  width: 70px;
  border: none;
  height: 22px;
}

#wrapper {
  overflow: hidden;
}

#content {
  width: 76%;
  margin-right: 1%;
  background-color: white;
  float: left;
  padding: 1%;
}

#sidebar {
  width: 19%;
  background-color: rgb(213, 101, 238);
  float: left;
  padding: 1%;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
}

#sidebar ul {
  padding-left: 30px;
}

#sidebar ul li {
  padding-bottom: 20px;
}

#sidebar ul li a {
  color: blue;
}

.clear-float {
  clear: both;
}

#footer {
  background-color: white;
  line-height: 48px;
  vertical-align: middle;
  padding-left: 1%;
  margin-top: -6px;
}

@media (max-width:999px) {
  body {
    width: 96%;
    height: 100%;
    padding: 2%;
    margin: 0;
  }
  #sidebar {
    display: none;
  }
  #header {
    width: 100%;
    height: auto;
  }
  #navigation {
    width: 69%;
  }
  #content {
    width: 96%;
    padding: 2%;
    margin: 0;
  }
  #search {
    width: 30%;
  }
  #wrapper {
    display: inline;
  }
  input {
    width: 60%;
  }
  #search button {
    width: 35%;
    margin-right: 1%;
  }
}


/* IDEA: talet */

@media (max-width: 767px) {
  #navigation {
    width: 100%;
  }
  #search {
    width: 216px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
    padding: 2%;
  }
  #navigation ul {
    width: 100%;
  }
}

@media (max-width: 425px) {
  #navigation ul li {
    display: block;
  }
  #navigation ul li {
    width: 95px;
    margin-left: auto;
    margin-right: auto;
  }
  #footer {
    line-height: normal;
  }
}
