/*
My main colors
pink:   rgb(240, 75, 249);
*/

h1 {
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 15px #555;
}
h2 {
    text-align: center;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(228, 228, 221);
}
#header {
  height: 50px;
  background-color: rgb(240, 75, 249);
  margin-bottom: 20px;
}
#navigation ul li {
  display: inline-block;
  width: 22%;
  line-height: 48px;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}
#navigation {
  width: 69%;
  display: inline-block;
}
#search {
  width: 22%;
  display: inline-block;
  float: right;
  padding-top: 15px;
}
a {
  text-decoration: none;
  color: #000000;
}
#content {
  width: 74%;
  margin-right: 2%;
  float: left;
  background-color: #fff;
  padding: 2%;
}
#wrapper {
  overflow: hidden;
  width: 100%;
}
#sidebar {
  padding: 1%;
  width: 18%;
  float: left;
  background-color: rgb(240, 75, 249);
  padding-bottom: 5000px;
  margin-bottom: -5000px;
}
#sidebar ul {
  padding-left: 25px;
}
.clear-float {
  clear: both;
}
#footer {
  margin-top: 20px;
  background-color: #fff;
  height: 40px;
  padding: 2%;
}
/* IDEA: small desktop */
@media (max-width: 999px) {
  body {
    width: auto;
  }
  #sidebar {
    display: none;
  }
  #content {
    width: 100%;
  }
  #search {
    width: 31%;
  }
}
/* IDEA: tablet */
@media (max-width: 767px) {
  #navigation {
    width: 100%;
  }
  #search {
    width: 100%;
  }
  #search form {
    width: 216px;
    margin-left: auto; /* centruojame Search lauka */
    margin-right: auto;
  }
}
@media (max-width: 425px) {
  #sidebar {
    display: block;
    width: 100%;
    padding-bottom: 20px;
  }
  #navigation ul li {
    display: block;
  }
  #navigation ul {
    width: 95px;
    margin-left: auto; /* centruojame Search lauka */
    margin-right: auto;
  }
  #header {
    height: 300px;
  }
}



.center-element {
  margin-left: auto; /* centruojame Search lauka */
  margin-right: auto;
}
